<!Doctype html>
<html>

<head>
     <title>{{.ServerType}}</title>
	 <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="cloud-image">
            <img src="../static/img/successCloudNew.svg" />
        </div>
        <div class="content">
            <div class="tweet-container">
            <a href="https://console.huaweicloud.com/servicestage/">
                <img src="../static/img/tweetThis.svg" />
            </a>            
        </div>
            <div class="content-body">
                <div class="success-text">Success</div>
                <div class="description line-1"> TIDC Cloud Project has been successfully setup</div>
                <div class="description line-2"> Your <strong style="color: darkblue">{{.ServerType}}</strong> is up and running on Cloud</div>
                <div class="next-steps-container">
                    <div class="next-steps-header">Next up</div>
                    <div class="next-steps-body">
                        <div class="step">
                            <div class="step-icon">
                                <img src="../static/img/cloneWhite.svg">
                            </div>
                            <div class="step-text"><a href="https://console.huaweicloud.com/servicestage/">Clone your code repository and start developing your application on IDE of your choice</a></div>
                        </div>
                        <div class="step">
                            <div class="step-icon">
                                <img src="../static/img/deployWhite.svg">
                            </div>
                            <div class="step-text"><a href="https://console.huaweicloud.com/servicestage/">View your CI/CD pipeline on Visual Studio Team Services and customize it as per your needs</a></div>
                        </div>
                        <div class="step">
                            <div class="step-icon">
                                <img src="../static/img/stackWhite.svg">
                            </div>
                            <div class="step-text"><a href="https://console.huaweicloud.com/servicestage/">Thank You</a></div>
                        </div>
                        <div class="step">
                            <div class="step-icon">
                                <img src="../static/img/lightbulbWhite.svg">
                            </div>
                            <div class="step-text"><a href="https://console.huaweicloud.com/servicestage/">Learn more about all you can do with Cloud projects by visiting the documentation</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>